__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

.DS_Store
.env
.venv/
venv/

logs/*
!logs/.gitkeep

results/*
!results/.gitkeep
!results/visualize.py

slides/*.log
slides/*.aux
slides/*.nav
slides/*.out
slides/*.snm
slides/*.toc
slides/*.pdf

*.swp
*.swo
